---
layout: base
---
    <div id="header">
        404
    </div>

    <script language="JavaScript">
var urlMap = {
    // Posts fallbacks
    '/web/2008/stuff.html':   '/all-posts.html',
    '/web/2009/stuff.html':   '/all-posts.html',
    '/web/old/stuff.html':    '/all-posts.html',
{% for p in site.pages %}
    {% for a in p.aliases %}
    '{{ a }}': '{{ p.url }}',
    {% endfor %}
{% endfor %}
{% for p in site.posts %}
    {% for a in p.aliases %}
    '{{ a }}': '{{ p.url }}',
    {% endfor %}
{% endfor %}
}

// from http://stackoverflow.com/questions/3213531/creating-a-new-location-object-in-javascript
function createUrl(base, pathname, fragment) {
    var link = document.createElement('a')

    a.href = base;
    a.pathname = pathname
    a.fragment = fragment

    return url.href
}

var fullPath = location.pathname + location.hash
var path = location.pathname

if (fullPath in urlMap)
    window.location.replace(urlMap[fullPath])
else if (path in urlMap)
    window.location.replace(urlMap[path])
else
    window.location.replace('/')
    </script>
    <noscript>
        <div id="content">
            <p>Can't perform automatic redirection with JavaScript disabled.</p>

            <ul>
{% for i in site.pages %}
    {% if i.title %}
                <li><a href="{{ i.url }}">{{ i.title }}</a></li>
    {% endif %}
{% endfor %}
            </ul>
        </div>
    </noscript>
{% include footer.html %}
