---
layout: base
---
    <div id="header">
        Mattia Barbon
    </div>

    <div id="php">
        <a href="http://www.projecthoneypot.org?rf=88394">
          <img src="/images/mini_phpot_link.gif" height="15px" width="80px"
               alt="Stop Spam Harvesters, Join Project Honey Pot"></a>
    </div>

    <ul id="tabnav">
        {% for i in site.pages %}
            {% if i.head %}
        <li><a href="{{ i.url }}" {% if i.head == page.head %}class="active"{% endif %}>{{ i.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <a href="http://lurch.barbon.org/php/mixtureshare.cgi"><!-- abashed-lost --></a>

    <div id="content">{{ content }}</div>
    {% include footer.html %}
