---
layout: base
---
    <div id="header">
        Mattia Barbon
    </div>

    <ul id="tabnav">
        {% for i in site.pages %}
            {% if i.head %}
        <li><a href="{{ i.url }}" {% if i.head == page.head %}class="active"{% endif %}>{{ i.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <div id="sidebar">
        <h3>Last posts</h3>
        <ul>
        {% for i in site.posts limit:7 %}
            <li><a href="{{ i.url }}">{{ i.title }}</a></li>
        {% endfor %}
        </ul>
        <a href="/all-posts.html">All posts</a>
    </div>

    <div id="content">{{ content }}</div>
    {% include footer.html %}
